$dark-blue__intro-email:hsl(217, 28%, 15%);
$dark-blue__main-background: hsl(218, 28%, 13%);
$dark-blue__footer-background: hsl(216, 53%, 9%);
$dark-blue__testimonials-background: hsl(219, 30%, 18%);
$white: hsl(0, 0%, 100%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$gradient: $cyan, $blue;